.signup{
    margin: 0 auto;
    width: 50%;
    margin-top: 7%;
    border: 0.0625rem solid #e0e0e0;


}
.signup form {
    width: 74%;
    padding-top: 5%;
    margin: 0 auto;
}

.signup h1{
    margin: 0 auto;
    width: 23%;
    margin-top: 4%;
}
.login-signup-btn{
    display: flex;
    justify-content: space-around;
}